﻿#navigation, #advertising, #other { 
  display : none; 
}

#Footer, #Header
{
  display: none;
}

@media print {
 #header, #footer { 
    visibility: hidden !important;
    display: none !important;
 }
}



@media print
{
    #footer {
         display: block; 
         position: fixed; 
         bottom: 0;
    } 
}

@media print
{
    #header {
         display: block; 
         position: fixed; 
         bottom: 0;
    } 
}

 

@media print
{
    #printPDF, #external-events, #combob 
    {
         display: none; 
         position: fixed; 
         bottom: 0;
    } 
} 

@media print
{
   .fc-header-left , .fc-header-right
    {
         display: none; 
         position: fixed; 
         bottom: 0;
    } 
}


@page{margin:0px auto;}



